*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
body{
    /* background-color:#e57914cf; */
     background:linear-gradient(80deg,red,rgb(122, 122, 182),orange); 
}
.weatherapp{
    text-align: center;
    justify-items: center;
    color: linear-gradient(15deg,#f0e912,#c12234,#49e112);
    margin-top: 5px;
}
.weatherapp.h1{
        color:linear-gradient(15deg,#f0e912,#c12234,#49e112);
}

.card{
    width: 90%;
    height: 500px;
    max-width: 470px;
    background: linear-gradient(135deg, #c2d13c, #d045d0);
    color: #3606d2;
    margin: 50px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.search input{
    border: 0;
    outline: 0;
    background: #e1eddf;
    color: #0a0101;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button:hover{
    background: #abb84a;
}
.search button img{
    width: 16px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;


}
.weatherapp.h1.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;

}
.col{
    display: flex;
    align-items: center;
    text-align: left;


}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}
.weather{
    display: none;

}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}


